*{
padding: 0;
margin: 0;

}

header{
width: 100%;
height: 50px;
box-shadow: 1px 1px 5px #000;
position: fixed;
background: white;

}

#menu{
width: 950px;
height: 40px;
padding-top: 13px;
margin: auto;


}

#menu ul a{
color: #000;
text-decoration: none;
font: bold 16px verdana;
padding: 13px 20px 19px 20px;

}
#menu ul a:hover{
color: black;
background-color: grey;


}

#main {
    background: black;
    height: 500px;
  
}
.videohero1{
    width: 100%; 
     overflow:hidden;
   
     height: 400px;
 }
 
 .t1{
    background-image: url(/img/t1.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
 }
 .tt1{
    display: block;
  text-align: center;
    font-size: 600%;
    opacity: 1;
    top: 90%;
    width: 70%;
    padding: 200px;
    color: rgb(255, 255, 255);}
    #programacion {
        background: beige;
        height: 2000px;
      
    }