*{
padding: 0;
margin: 0;

}

header{
width: 100%;
height: 50px;
box-shadow: 1px 1px 5px #000;
position: fixed;
background: white;
}

#menu{
width: 950px;
height: 40px;
padding-top: 13px;
margin: auto;

}
#menu ul a{
color: #000;
text-decoration: none;
font: bold 16px verdana;
padding: 13px 20px 19px 20px;
}
#menu ul a:hover{
color: black;
background-color: grey;


}
#main {
    background: beige;
    height: 2000px;
}